<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Ecommerce nain de jardin">
  <meta name="author" content="Leveque Matthieu, Bertrand Ravaux, Jean-baptiste Barbé, Vincent Lavallée">
  <title>Un Nain Stable | Bienvenue au paradis des nains</title>
  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/all.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">
  <!-- AngularJS -->
  <script src="assets/lib/angular.js"></script>
</head>
<body ng-app="store" ng-controller="CartController">
  <!-- HEADER -->
  <!-- NAV -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/img/gnome.png" width="30px"/>Un Nain Stable</a>
      <div class="position-relative">
        <button type="button" class="btn btn-primary" id="btn-cart" ng-click="toggleCart()">
          <i class="fas fa-shopping-cart"></i> <span class="badge badge-light" id="nav-qty-items">{{item.qty}}</span>
          <span class="sr-only">Aucun article</span>
        </button>
        <a href="#" class="ml-2" data-toggle="modal" data-target="#modal-signin"><i class="fas fa-power-off"></i></a>
        <!-- CART DETAIL -->
        <div class="position-absolute" id="cart" ng-show="isVisible">
          <div class="card" style="width: 400px;">
            <div class="card-body">
              <h5 class="card-title">Panier</h5>
            </div>
            <!-- List des articles -->
            <ul class="list-group list-group-flush" id="cart-product-lists" ng-repeat="item in itemsCart">
              <li class="list-group-item d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                  <div>{{item.marque}}<span class="badge badge-primary">{{item.qty}}</span></div>
                  <div>
                    <strong class="mr-2"><span class="item-price">{{item.prix}}</span> &euro;</strong>
                    <a href="#" class="edit-product mr-2"><i class="fas fa-pencil-alt text-warning"></i></a>
                    <a href="#" class="delete-product" data-toggle="modal" data-target="#modal-confirm-delete"ng-click="removeProductToCart(item)"><i class="fas fa-trash-alt text-danger"></i></a>
                  </div>
                </div>
              </li>
            </ul>
            <!-- ./ List des articles -->
            <div class="card-body border-top">
              <h5 class="text-right"><span id="total-cart"></span>{{total | currency: ""}} &euro;</h5>
            </div>

          </div>
        </div>
        <!-- ./ CART DETAIL -->
      </div>
    </div>
    <!-- INPUT FILTER -->
    <div id="nain">
      <input type="text" id="query" ng-click="show=false" ng-model="query"/>
    </div>
    <!-- fin de l'INPUT -->
  </nav>
  <!-- ./ NAV -->
  <!-- HEADER -->
  <!-- ./bannière-->
  <header>
    <div class="banniere">
      <h1>Un Nain Stable</h1>
      <p>Bienvenue au paradis des nains! Ne dis pas a un nain qu'il comprendra quand il sera grand!</p>
    </div>
  </header>
  <!-- ./ HEADER -->
  <main class="mt-5" role="main">
    <div class="container">
      <div class="row">
        <!-- ARTILCE-->
        <div class="col-12 col-md-4 mb-3" ng-repeat="p in product | filter:query | orderBy: orderList">
          <div class="card" id="nainGog">
            <img class="card-img-top" src="{{p.image}}" alt="Card image cap">
            <!-- CARD BODY -->
            <div class="card-body">
              <h5 class="card-title title-product">{{p.marque}}</h5>
              <p class="card-text">
                {{p.description}}
              </p>
            </div>
            <!-- ./ CARD BODY -->
            <!-- CARD FOOTER -->
            <div class="card-footer d-flex justify-content-between align-items-center">
              <h3 class="price-product">{{p.prix}} &euro;</h3>
              <div class="d-flex col-12 col-md-6">
                <input type="number" class="form-control qty-product mr-1" placeholder="1" value="1" ng-model="qty"/>
                <button type="button" class="btn btn-success add-cart" ng-click="addProductToCart(p, qty, couleur)"><i class="fas fa-cart-plus"></i></button>
              </div>
            </div>
            <!-- CARD FOOTER -->
          </div>
          <!-- ./ CARD -->
        </div>
      </div>
    </main>
    <footer class="footer"></footer>
    <script src="assets/js/script.js"></script>
    <script src="assets/bootstrap/js/bootstrap.js"></script>
  </body>
  </html>
